.mainpage-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 1rem 2rem;
	height: 100vh;
	overflow-y: auto;
	.mainpage-heading {
		display: none;
	}
	.user-input-component {
		display: flex;
		box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px,
			rgb(9 30 66 / 8%) 0px 0px 0px 1px;
		padding: 1rem 1rem;
		border-radius: 0.625rem;
		margin-bottom: 2rem;
		.user-image-response {
			height: 7rem;
		}
		.user-input-icon {
			font-size: 5rem;
			padding: 1rem 1rem;
			color: var(--secondary-text-color);
		}
		.user-input {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			padding: 1rem 1rem;
			.user-input-text {
				min-height: 8rem;
				border: 1px solid var(--primary-color);
				font-size: 1.6rem;
				outline: none;
				margin: 0;
				height: auto;
			}
			.user-input-btn {
				margin-top: 1rem;
				padding: 1rem 0.5rem;
				display: block;
				width: 10rem;
				align-self: flex-end;
				font-size: 1.6rem;
				background-color: var(--primary-color);
				color: var(--complimentary-text-color);
				font-weight: bold;
				letter-spacing: 0.2rem;
				border: 2px solid var(--border-color);
				border-radius: 0.625rem;
			}
		}
	}
	&::-webkit-scrollbar {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.mainpage-container {
		width: 100%;
		.mainpage-heading {
			display: block;
			font-size: 3rem;
			text-decoration: none;
			font-weight: bold;
			color: var(--primary-color);
			padding: 1rem 0;
			display: inline-block;
			text-align: center;
			margin-bottom: 1rem;
			border-radius: 1rem;
		}
		.user-input-component {
			.user-input-icon {
				padding: 0rem;
			}
			.user-image-response{
				display: none;
			}
		}
	}
}
